.div1
{
    height:100px;
    background-color: aquamarine
}
.div5
{

    height:850px;
    background-color: red
}
.div3
{
    height:400px;
    background-color: blue
}
.div4 
{
    
    height:400px;
    background-color: pink

}
.div2
{
    height:50px;
    background-color: yellow
}
